* {
    font-family: 'Josefin Sans', sans-serif;
}

.header {
    border-bottom:3px solid #7d97ad;
    margin-bottom:20px;
}
.header-title {
    font-weight:300;
}
.header-sub-title {
    font-weight:700;
}
.logo {
    max-width:150px;
    max-width:150px;
}